<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="agregarContacto()">
    <ion-item>
      <ion-label position="floating">Número de Teléfono</ion-label>
      <ion-input 
        type="tel" 
        formControlName="telefono" 
        placeholder="Ingresa el número de 10 dígitos">
      </ion-input>
    </ion-item>

    <ion-button 
      expand="block" 
      type="submit" 
      [disabled]="formulario.invalid"
      class="ion-margin">
      Agregar Contacto
    </ion-button>
  </form>

  <ion-toast
    [isOpen]="showToast"
    [message]="toastMessage"
    [color]="toastColor"
    [duration]="3000"
    (didDismiss)="showToast = false">
  </ion-toast>
</ion-content>